DB_URL=
JWT_SECRET=
PORT=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_URL=https://accounts.google.com/o/oauth2/auth
GOOGLE_ACCESS_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_TOKEN_INFO_URL=https://oauth2.googleapis.com/tokeninfo
GOOGLE_CALLBACK_URL = http://localhost:3000/google/callback
GOOGLE_OAUTH_PASS=
JWT_LIFETIME=30d
STATE=
BASE_URL=http://localhost:3000